{
    "DistributionId": "EKEAM2WOIJYOL", 
    "InvalidationBatch": {
        "Paths": {
            "Quantity": 1, 
            "Items": [
                "/*"
            ]
        }, 
        "CallerReference": "cref"
    }
}
