---
layout: default
---

<h2>{{ page.TITLE }}</h2>


<div class="card">
        <h5 class="card-header">{{ page.ID }}
                {% for imp in page.Impacts %}
                {% if imp == "High" %}
                <span class="badge badge-pill badge-danger">H</span>
                {% elsif imp == "Moderate" %}
                <span class="badge badge-pill badge-warning">M</span>
                
                {% elsif imp == "Low" %}
                <span class="badge badge-pill badge-success">L</span>
                
                {% endif %}
                
                {% endfor %}

        </h5>
        <div class="card-body">
          <h5 class="card-title">Description:</h5>
          <p class="card-text">{{ page.ControlText | newline_to_br }}</p>

          {% if page.FedrampGuidance != empty %}
          <h5 class="card-title">Further Guidance</h5>
          <p class="card-text">{{ page.FedrampGuidance | newline_to_br }}</p>
          
          {% endif %}



        </div>
      </div>
    

