<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <div class="container-fluid">
        <div class="row">

            <div class="col-4">
                <a href="/">HOME</a>
                {% assign cur_family = "" %}

                {% assign control_counter = 0 %}
                {% assign family_counter = 0 %}


                <div class="panel-group" id="accordionMenu" role="tablist" aria-multiselectable="false">

                    {% for control in site.data.controls %}

                    {% if cur_family != control.Family %}
                    {% assign cur_family = control.Family %}

                    {% assign family_menu_id = "menu_" | append: family_counter %}
                    {% assign control_menu_id = "menu_child_" | append: control_counter %}

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="{{ family_menu_id }}">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#{{ control_menu_id }}"
                                    aria-expanded="true" aria-controls="{{ control_menu_id }}">
                                    {{ cur_family }}
                                </a>
                            </h4>
                        </div>
                        <div id="{{ control_menu_id }}" class="panel-collapse collapse in" role="tabpanel"
                            aria-labelledby=" {{family_menu_id }}">
                            <div class="panel-body">
                                <ul>
                                    {% for control in site.data.controls %}
                                    {% if control.Family == cur_family %}
                                    {% assign control_anchor = "control_section_" | append: control.ID | replace: "-",
                                    "" %}

                                    <li><a href="/{{ control.TITLE | datapage_url: 'controls' }}">{{ control.ID }} {{ control.TITLE }}</a></li>
                                    {% assign control_counter = control_counter | plus:1 %}

                                    {% endif %}

                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% assign family_counter = family_counter | plus:1 %}




                    {% endif %}



                    {% endfor %}

                </div>
            </div>
            <div class="col-8">


                {{ content }}
            </div>
            <!-- JS -->
            <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
                crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
</body>

</html>